html,
body {
	height: 100%;
	margin: 1;
	background-color: #e2f0d9;
}

.page{
	width: 100%;
	height: 100%;
	border: 2pt black solid;
	margin: 2pt;
	padding: 2pt;
	display: flex;
	flex-direction: column;
}

.header{
	width: auto;
	height: 40mm;
	border: 2pt black solid;
	margin: 2pt;
	padding: 2pt;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-spacer{
	width: auto;
	height: 15mm;
	border: 2pt black solid;
	margin: 2pt;
	padding: 2pt;
	display: flex;
	justify-content: flex-end;
}

.header-spacer-container{
	height: 80%;
	width: auto;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.5pt solid darkgreen;
	border-radius: 8px;
	cursor: pointer;
	transition: opacity 0.2s;
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.header-spacer-container img{
	max-height: 100%;
	max-width: 100%;
	height: 70%;
	width: auto;
	object-fit: contain;
	display: block;
	filter: grayscale(20%);
	mix-blend-mode: multiply;
}

.header-spacer-container:hover{
	opacity: 0.7;
	background-color: #ffffff;
	border-color: #417d36;
	transform: translateY(-1px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-spacer-container:active{
	transform: scale(0.95);
}

.menu-options{
	width: auto;
	height: 15mm;
	border: 2pt black solid;
	margin: 2pt;
	padding: 2pt;
	display: flex;
	flex-direction: column;
}

.menu-wrapper{
	justify-content: center;
}

.menu-options-container{
	width: auto;
	height: 100%;
	border: 2pt black dotted;
	margin: 1px;
	padding: 0.5mm;
	display: flex;
	flex-direction: row;
}

.brand-image-container{
	width:20mm;
	margin-right: 10mm;
}

.dropdown-container{
	width: 75%;
	height: auto;
	border: 1pt black dotted;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.menu-options-dropdowns{
	flex: 1;
	border: 1pt gray solid;
	margin: 2pt;
	padding: 2pt;
}

.main{
	margin: 2mm;
	padding: 2mm;
	width: auto;
	height: auto;
	display: flex;
	flex: 1;
	border: 2pt black solid;
}

.footer {
	bottom: 5mm;
	left: 5mm;
	right: 5mm;
	margin: 2mm;
	padding: 2mm;
	width: auto;
	height: 25mm;
	flex-shrink: 0;
	border: 2pt solid black;
}
