html,
body {
	height: 100%;
	margin: 0;
	color: #5a8f4c;
	background-color: #e2f0d9;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	width: auto;
	height: 10mm;
	margin: 2mm;
	padding: 2mm;
	flex-shrink: 0;
}

.main {
	margin: 2mm;
	padding: 2mm;
	width: auto;
	height: auto;
	display: flex;
	flex: 1;
}

.main-container {
	margin: 2mm;
	padding: 2mm;
	width: auto;
	height: auto;
	flex: 1;
	display: flex;
	flex-direction: row;
}

.main-sub {
	width: auto;
	height: auto;
	margin: 2pt;
	padding: 2pt;
	flex: 3;
	display: flex;
	flex-direction: column;
}
.main-sub-container{
	display: flex;
	flex-direction: column;
	flex: 4;
	justify-content: center;
	align-items: flex-start;
	width: 490px;
}
.main-sub-container h1{
	text-align: center;
	margin: 1mm;
	color: #417d36;
}

.main-sub-container h3{
	margin: 1mm;
	color: #6fa86f;
}

.main-sub-login {
	width: auto;
	height: auto;
	margin: 2pt;
	padding: 2pt;
	flex: 1;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	
}

.footer {
	bottom: 5mm;
	left: 5mm;
	right: 5mm;
	margin: 2mm;
	padding: 2mm;
	width: auto;
	height: 25mm;
	flex-shrink: 0;
}

.login-container {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	justify-content: center;
	flex: 1;
	border-radius: 12px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
	margin: 0;
	text-align: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

input {
	padding: 6px;
	font-size: 14px;
	border: 1pt solid black;
}

button {
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	border: 2pt solid black;
	background-color: #93c572;
}

button:hover {
	background: #f0f0f0;
}

.login-form {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.login-register-separator{
	border-top: 1pt solid gray;
	width: 80%;
	align-self: center;
}

.create-user-form{
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 10pt;
}

@media(max-width: 980px){
	.main-container{
		flex-direction: column;
	}
	.main-sub-login{
		width: 100%;
		display: block;
	}
	.login-container{
		max-width: 100%;
		flex: unset;
		height: auto;
		margin: 0 auto;
	}
}

@media(max-width: 500px){
	input, button{
		font-size: 12px;
		padding: 6px;
	}

	.main-sub-login{
		width: 100%;
		display: block;
	}
	
	.login-container{
		max-width: 100%;
		flex: unset;
		height: auto;
		margin: 0 auto;
	}
}